<h2 ng-hide="loggedIn">Welcome to chat!</h2>
<p ng-hide="loggedIn">Log in to continue</p>
<h1 ng-show="loggedIn">Channels</h1>

<div ng-hide="loggedIn">
  <input type="text" ng-model="nick" placeholder="Select a user name"></input>
  <button ng-click="login()">Login</button>
</div>

  <ul>
    <li ng-repeat="room in rooms">
      <div ng-click="selectedRoom(room)">
             {{room.topic}}
      </div>
    </li>
  </ul>

<div ng-show="loggedIn">
  <ul>
    <li>Create/Join Channel</li>
    <li>
      <input type="text" ng-model="room" placeholder="Chanel name"></input>
    </li>
    <li>
      <input type="text" ng-model="pass" placeholder="Password"></input>
    </li>
    <li>
      <button ng-click="joinroom()">Join</button>
    </li>
  </ul>
</div>

<div ng-controller="RoomCtrl">
  <div class="ChatRoom" ng-show="channels > 0">
    <h2>{{selectedRoom.topic}}<h2>
    <textarea ng-disabled="true" ng-model="selectedRoom.messageHistory"></textarea>
    <form ng-submit="sendMsg()" ng-controller="RoomCtrl">
       <input type="text" ng-model="sendTextmsg"/>
    </form>
  </div>
</div>
